<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:int="http://www.springframework.org/schema/integration"
	xsi:schemaLocation=" 
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/integration 
	http://www.springframework.org/schema/integration/spring-integration.xsd">


	
	<int:channel id="gameEventQueueChannel">
		<int:queue ref="gameEventQueue" />
	</int:channel>

	<int:poller id="gameEventsPoller" default="true">
		<int:interval-trigger interval="1" time-unit="MILLISECONDS" />
	</int:poller>


	<int:service-activator input-channel="gameEventQueueChannel"
		ref="gameEventHandler" method="handleGameEvent" />

	<bean id="gameEventHandler" class="com.lvl6.events.GameEventHandler" />

</beans>