<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:hz="http://www.hazelcast.com/schema/spring"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.hazelcast.com/schema/spring
        http://www.hazelcast.com/schema/spring/hazelcast-spring-2.1.xsd
		">

	
	<bean id="elasticSearch" class="com.lvl6.elasticsearch.Lvl6ElasticSearch">
		<property name="hosts" value="${lvl6.elastic.search.hosts}" />
		<property name="clusterName" value="${lvl6.elastic.search.cluster.name}" />
	</bean>
	
	<bean id="log4jSearch" class="com.lvl6.elasticsearch.Log4jElasticSearchQuery" scope="prototype" />
	
</beans>