<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:task="http://www.springframework.org/schema/task" xmlns:int-ip="http://www.springframework.org/schema/integration/ip"
	xsi:schemaLocation=" 
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/task
	http://www.springframework.org/schema/task/spring-task-3.0.xsd
    http://www.springframework.org/schema/integration 
	http://www.springframework.org/schema/integration/spring-integration-2.1.xsd
	http://www.springframework.org/schema/integration/ip
    http://www.springframework.org/schema/integration/ip/spring-integration-ip.xsd">


	<int:channel id="inboundFakeClientChannel">
		<int:queue/>
  		<int:interceptors>
        	<int:wire-tap channel="loggerChannelAdapter"/>
     	</int:interceptors> 
	</int:channel>


	<int-ip:tcp-connection-factory id="clientSocket" type="client"
		deserializer="gameEventClientSerializer"
		serializer="gameEventSerializer"
		port="${server.port}" 
		host="${tests.fake.client.host}"
		task-executor="controllersExecutor"
	/>	
	
	<int:channel id="outboundFakeClientMessageChannel" >
 		 <int:interceptors>
        	<int:wire-tap channel="loggerChannelAdapter"/>
     	</int:interceptors> 
	</int:channel>
	
	<int-ip:tcp-outbound-channel-adapter
		id="outboundFakeClient" 
		channel="outboundFakeClientMessageChannel" 
		connection-factory="clientSocket"
		/>

	
	<int-ip:tcp-inbound-channel-adapter
		id="inboundFakeClient" 
		channel="inboundFakeClientChannel" 
		connection-factory="clientSocket"
		error-channel="errorChannel"/>


	<bean id="gameEventClientSerializer" class="com.lvl6.events.GameEventClientSerializer" />
	



</beans>