<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:hz="http://www.hazelcast.com/schema/spring"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.hazelcast.com/schema/spring
        http://www.hazelcast.com/schema/spring/hazelcast-spring-2.1.xsd
		">
	
	
	<hz:hazelcast id="hazel" depends-on="hazelInstances" >
		<hz:config>
			<hz:group name="${hazelcast.group}" password="${hazelcast.pass}" />
			<hz:network port="5701" >
				<hz:join>
					<hz:aws 
					access-key="${hazelcast.ec2.awsId}" 
					secret-key="${hazelcast.ec2.awsSecretKey}" 
					region="${hazelcast.ec2.region}" 
					security-group-name="${hazelcast.ec2.security.group}"/>
				</hz:join>
			</hz:network>
		</hz:config>
	</hz:hazelcast>
	
</beans>