<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation=" 
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/integration 
	http://www.springframework.org/schema/integration/spring-integration.xsd
	http://www.springframework.org/schema/task
	http://www.springframework.org/schema/task/spring-task-3.0.xsd
	http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">


	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="${lvl6.smtp.host}" />
		<property name="port" value="${lvl6.smtp.port}" />
		<property name="username" value="${lvl6.smtp.username}" />
		<property name="password" value="${lvl6.smtp.password}" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.starttls.enable">true</prop>
			</props>
		</property>
	</bean>

	<!-- this is a template message that we can pre-load with default state -->
	<bean id="adminAlertEmail" class="org.springframework.mail.SimpleMailMessage"
		scope="prototype">
		<property name="from" value="lvl6sender@gmail.com" />
		<property name="subject" value="Server Error" />
	</bean>

	<bean id="devops" class="com.lvl6.server.DevOps">
		<property name="adminEmails">
			<list>
				<value>${lvl6.smtp.contact1}</value> 
				<!-- <value>${lvl6.smtp.contact2}</value>
				<value>${lvl6.smtp.contact3}</value> -->
			</list>
		</property>
	</bean>

	<bean id="applicationMode" class="com.lvl6.server.ApplicationMode" scope="singleton" />
		
</beans>