<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:hz="http://www.hazelcast.com/schema/spring"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.hazelcast.com/schema/spring
        http://www.hazelcast.com/schema/spring/hazelcast-spring-2.1.xsd
		">
	
	<import resource="classpath:spring-hazelcast-cluster-${hazelcast.config}.xml"/>
	
	
	<hz:atomicNumber id="connectedPlayerCount" name="connectedPlayerCount" instance-ref="hazel" />
	
	
	<hz:queue id="gameEventQueue" name="gameEventQueue" instance-ref="hazel" />
	
	<hz:map id="playersByPlayerId" name="playersByPlayerId" instance-ref="hazel" />
		

	<hz:map id="playersPreDatabaseByUDID" name="playersPreDatabaseByUDID" instance-ref="hazel" />
	
	<hz:map id="messagesForDisconnectedPlayers" name="messagesForDisconnectedPlayers" instance-ref="hazel"/>
		
		
	<hz:map id="playersInActionSet" name="playersInActionSet" instance-ref="hazel"/>
	
	<hz:map id="scheduleTasks" name="scheduledTasks" instance-ref="hazel"/>
		
		
	<hz:topic id="serverEvents" name="serverEvents" instance-ref="hazel"/>
	<hz:topic id="staticDataReloadDone" name="staticDataReloadDone" instance-ref="hazel"/>	
		
	<bean id="playersInAction" class="com.lvl6.utils.PlayerSet" scope="singleton" >
		<property name="players" ref="playersInActionSet" />
	</bean>
	
	
	<bean id="serverMessageHandler" class="com.lvl6.eventhandlers.ServerEventHandler" lazy-init="false" scope="singleton" />
	
<!-- 	<bean id="hazelInstances" class="com.lvl6.eventhandlers.HazelInstanceListener" lazy-init="false" scope="singleton" /> -->
	
	
</beans>