<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation=" 
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/task
	http://www.springframework.org/schema/task/spring-task-3.0.xsd
    http://www.springframework.org/schema/integration 
	http://www.springframework.org/schema/integration/spring-integration-2.1.xsd">

	<task:executor id="gameEventsHandlerExecutor" pool-size="5-50" queue-capacity="100" rejection-policy="CALLER_RUNS"  />
	
	<int:channel id="gameEventQueueChannel">
		<int:queue ref="gameEventQueue" />
	</int:channel>
	
	
<!-- 	<int:service-activator input-channel="gameEventQueueChannel" ref="gameEventHandler" method="handleMessage" > -->
<!-- 		<int:poller fixed-rate="100" task-executor="gameEventsHandlerExecutor" /> -->
<!-- 	</int:service-activator> -->


	<bean id="gameEventHandler" class="com.lvl6.eventhandlers.GameEventHandler" />

</beans>