<wicket:panel>
	<table>
		<tr><td>Connected Players:</td><td><span wicket:id="connectedPlayers">?</span></td></tr>
		<tr><td>Total Players:</td><td><span wicket:id="totalPlayers">?</span></td></tr>
		<tr><td>Logged In Today:</td><td><span wicket:id="loggedInToday">?</span></td></tr>
		<tr><td>Paying Players:</td><td><span wicket:id="totalPayingPlayers">?</span></td></tr>
		<tr><td>In App Purchases:</td><td><span wicket:id="totalInAppPurchases">?</span></td></tr>
		<tr><td>Sum Of In App Purchases:</td><td>$<span wicket:id="sumOfInAppPurchases">?</span></td></tr>
		<tr><td>After Apple Tax:</td><td>$<span wicket:id="afterAppleTax">?</span></td></tr>
		<tr><td>Kiip Rewards Redeemed:</td><td><span wicket:id="countNumberKiipRewardsRedeemed">?</span></td></tr>
		<tr><td>Marketplace Transactions:</td><td><span wicket:id="countMarketplaceTransactions">?</span></td></tr>
		<tr><td>Marketplace Posts:</td><td><span wicket:id="countMarketplacePosts">?</span></td></tr>
		<tr><td>Silver In World:</td><td><span wicket:id="sumOfSilverInWorld">?</span></td></tr>
		<tr><td>Diamonds In World:</td><td><span wicket:id="sumOfDiamondsInWorld">?</span></td></tr>
 		<tr><td>Silver Per Player:</td><td><span wicket:id="averageSilverPerPlayer">?</span></td></tr>
		<tr><td>Percent Paid Players:</td><td><span wicket:id="percentageOfPlayersPaying">?</span></td></tr>
	</table>
	
</wicket:panel>