<wicket:panel>
	<table>
		<tr><td>Connected Players:</td><td><span wicket:id="connectedPlayers">?</span></td></tr>
		<tr><td>Total Players:</td><td><span wicket:id="totalPlayers">?</span></td></tr>
		<tr><td>Total Paying Players:</td><td><span wicket:id="totalPayingPlayers">?</span></td></tr>
		<tr><td>Total In App Purchases:</td><td><span wicket:id="totalInAppPurchases">?</span></td></tr>
		<tr><td>Sum Of In App Purchases:</td><td><span wicket:id="sumOfInAppPurchases">?</span></td></tr>
		<tr><td>Count Number Kiip Rewards Redeemed:</td><td><span wicket:id="countNumberKiipRewardsRedeemed">?</span></td></tr>
		<tr><td>Count Marketplace Transactions:</td><td><span wicket:id="countMarketplaceTransactions">?</span></td></tr>
		<tr><td>Count Marketplace Posts:</td><td><span wicket:id="countMarketplacePosts">?</span></td></tr>
		<tr><td>Sum Of Silver In World:</td><td><span wicket:id="sumOfSilverInWorld">?</span></td></tr>
		<tr><td>Sum Of Diamonds In World:</td><td><span wicket:id="sumOfDiamondsInWorld">?</span></td></tr>
	</table>
</wicket:panel>