files:
  "/home/ec2-user/checkTomcatOpenFiles.sh" :
    mode: 000777
    owner: ec2-user
    group: ec2-user
    source: https://s3.amazonaws.com/beanstalk-config-files/checkTomcatOpenFiles.sh
    
    
commands:
  01-setupcron:
    command: echo "*/3 * * * * root /home/ec2-user/checkTomcatOpenFiles.sh 2>&1 >> /var/log/checktomcat" > /etc/cron.d/checkTomcatOpenFiles
  02-changeperm:
    command: chmod 644 /etc/cron.d/checkTomcatOpenFiles