files:
  "/home/ec2-user/setupBashrc.sh" :
    mode: 000777
    owner: ec2-user
    group: ec2-user
    source: https://s3.amazonaws.com/beanstalk-config-files/setupBashrc.sh
    
  "/usr/share/tomcat7/KingdomAPNSProdKey.p12" :
    mode: 000777
    owner: ec2-user
    group: ec2-user
    source: https://s3.amazonaws.com/beanstalk-config-files/KingdomAPNSProdKey.p12

commands:
  01-setupbashrc:
    command: ./setupBashrc.sh
    cwd: /home/ec2-user

